
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Marka Adı</label>
        <input type="text" class="form-control" name="ad" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Marka Ekle</button>
    </div>
</form>

