@model MvcStokTakip.Models.Entity.Urunler
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post" style="width:50%">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="ad" required="" maxlength="50" />
    </div>
    <div>
        <label>Marka</label>
        @Html.DropDownListFor(m => m.marka_id, (List<SelectListItem>)ViewBag.markalar, new { @class = "form-control" })
    </div>
    <div>
        <label>Kategori</label>
        @Html.DropDownListFor(m => m.kategori_id, (List<SelectListItem>)ViewBag.kategoriler, new { @class = "form-control" })
    </div>
    <div>
        <label>Stok</label>
        <input type="text" class="form-control" name="stok" />
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="fiyat" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>
